/* ------------------DEFAULT SETUP------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #5a5a5a;
    font-size: 20px;
    text-rendering: optimizeLegibility; 
    font-family: 'Quicksand', sans-serif;
}

body{
    overflow-x: hidden;
}

/* ------------------------------------ */
.Share{
    background-color: #6a7a61;
    background: url("../img/backpage2.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.first{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary__main{
    display: block;
    position: relative;
    font-family: 'Quicksand', sans-serif;   
    color: #ffffff;
    text-align: center;
    width: 862px;
    height: 73px;
    font-weight: 400;
    font-size: 108%;
    top: 50px; 
}

.heading-primary__sub{
    display: block;
    position: relative;
    color: #ecedeb;
    font-weight:lighter;
    font-size: 75%;
    font-family: 'Quicksand', sans-serif;
    top: 15px;
    letter-spacing: .02rem;
}

/* ------------------------------------ */
.second{
    position: absolute;
    width: 865px;
    height: 255px;
    background: rgba(57, 65, 52, 0.4);
    border-radius: 30px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.chiase{
    display: block;
    position: relative;
    font-family: 'Dancing Script', cursive;
    padding-top: 3.5%;
    font-weight: 400;
    font-size: 140%;
}

.fanpage{
    display: block;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-size: 73%;
    font-weight: 300;
    top: -45px;
    letter-spacing: .02rem;
    color: #e8eae7;
}

/* ------------------------------------ */

.second ul li{
    position: relative;
    width: 170px;
    height: 75px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 170%;
    background-color: rgb(57, 65, 52);
    border-radius: 22px;
    margin: 0 8px;
    margin-top: -15px;
    padding-top: 8px;
}

.second ul li a{
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
}

.second ul li:hover{
    transform: translateY(-3px);
    cursor: pointer;
}
  
.second ul li:active{
    transform: translateY(-1px);
}