/* ------------------DEFAULT SETUP------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #5a5a5a;
    font-size: 20px;
    text-rendering: optimizeLegibility; 
    font-family: 'Quicksand', sans-serif;
}

body{
    overflow-x: hidden;
}

/* ------------------------------------ */
.Share{
    background: url("../img/backpage2.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.first{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary__main{
    display: block;
    position: relative;
    font-family: 'Quicksand', sans-serif;   
    color: #ffffff;
    text-align: center;
    width: 862px;
    height: 73px;
    font-weight: 400;
    font-size: 108%;
    top: 50px; 
}

.heading-primary__sub{
    display: block;
    position: relative;
    color: #f9f9f9;
    font-weight:lighter;
    font-size: 75%;
    font-family: 'Quicksand', sans-serif;
    top: 15px;
    letter-spacing: .02rem;
}

.second{
    position: absolute;
    width: 60%;
    height: 38%;
    background: rgba(57, 65, 52, 0.4);
    border-radius: 20px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.second h1{
    font-family: 'Dancing Script', cursive;
    padding-top: 3%;
    font-weight: 400;
    font-size: 200%;
}

.second h1 .fanpage{
    font-family: 'Quicksand', sans-serif;
    font-size: 50%;
}

.second ul{
    padding: 5% 0;
}

.second ul li{
    display: inline;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
    background-color: rgb(57, 65, 52);
    padding: 20px 30px;
    border-radius: 20px;
    margin: 0 20px;
}

.second ul li a{
    text-decoration: none;
    color: #ffffff;
}
