@media only screen and (max-width:1920px) {
    html {
        font-size: 26px;
    }
    .TK {
        top: 70vh;
    }
    body {
        height: 130vh;
    }
}

@media only screen and (max-width:1688px) {
    html {
        font-size: 24px;
    }
    body {
        height: 115vh;
    }
}

@media only screen and (max-width:1440px) {
    html {
        font-size: 20px;
    }
    body {
        height: 90vh;
    }
}

@media only screen and (max-width:1366px) {
    html {
        font-size: 20px;
    }
    .TK {
        top: 78vh;
    }
    body {
        height: 155vh;
    }
}

@media only screen and (max-width:1280px) {
    html {
        font-size: 18px;
    }
    .TK {
        top: 55vh;
    }
    body {
        height: 130vh;
    }
}

@media only screen and (max-width:1024px) {
    html {
        font-size: 16px;
    }
    .TK {
        top: 65vh;
    }
    body {
        height: 120vh;
    }
}

@media only screen and (max-width:768px) {
    html {
        font-size: 15px;
    }
    .TK {
        top: 35vh;
    }
    body {
        height: 100vh;
    }
}

@media only screen and (max-width:480px) {
    html {
        font-size: 9px;
    }
    .TK {
        top: 40vh;
    }
    body {
        height: 100vh;
    }
}

@media only screen and (max-width:320px) {
    html {
        font-size: 6px;
    }
    .TK {
        top: 27vh;
    }
    body {
        height: 100vh;
    }
}