body {
    background-color: #6a7a61;
    background: url("../img/backgroundTK.png");
    background-size: cover;
    background-position: center;
    color: #2a2c1d;
    height: 155vh;
    overflow-x: auto;
    font-family: 'Quicksand', sans-serif;
}

.TK {
    position: absolute;
    top: 77vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    position: relative;
    display: block;
}

h1 {
    border: 2px dashed #ffffff;
    padding: .5rem 0;
    font-size: 2.2rem;
    color: #ffffff;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.table {
    position: relative;
    padding-top: 2rem;
    left: -100%;
}

table {
    width: 300%;
    font-family: 'Quicksand', sans-serif;
    border-collapse: collapse;
    padding-top: 2rem;
}

th {
    border-bottom: 1px solid #c2dcb45b;
    padding: .3rem 0;
}

td {
    padding: .3rem .5rem;
    max-width: 12rem;
    background-color: #b5b6a8;
    font-size: .8rem;
    font-weight: 500;
    border-bottom: 1px solid #c2dcb45b;
}

td:last-child {
    max-width: 2rem;
    text-align: center;
    background-color: #77806a;
}

td:first-child {
    max-width: .01rem;
    text-align: center;
    background-color: #77806a;
}