section.View {
  background-color: #6a7a61;
  background: url("../../../assets/img/background5.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.text-box {
  position: absolute;
  background-color: #6a7d5f;
  font-family: 'Dancing Script', cursive;
  font-size: 255%;
  text-align: center;
  width: 50%;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  margin-bottom: 10px;
}

.heading-primary__sub {
  font-size: 55%;
}


/*-------------*/

.testimoials {
  position: absolute;
  color: black;
  top: -3px;
  left: 2%;
}

.row {
  padding: 0 20px;
  max-width: 1540px;
  margin: 0 auto;
  margin-left: 7%;
}

.col {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 150px;
  margin-top: 10%;
  margin: 10% 2.3%;
  width: 28%;
  margin-bottom: -85px;
}

blockquote {
  width: 95%;
  position: relative;
  line-height: 140%;
  margin-top: 10px;
  font-size: 80%;
  font-weight: 600;
  padding: 7px 40px;
  padding-right: 10px;
}

cite {
  display: block;
  margin-top: 2px;
  font-weight: 500;
  font-style: normal;
  font-size: 75%;
  line-height: 130%;
}

cite::before {
  content: "\2730 \2730 \2730 \2730 \2730";
  display: block;
  color: #ffb91d;
  font-size: 200%;
  padding-bottom: 8px;
  padding-top: 2px;
}

.col:hover {
  transform: scale(1.1);
  background-color: #6a7d5f;
  box-shadow: 3px 5px 4px rgba(0, 0, 1, 0.2);
  color: #242b1e;
}

/*
 #full-stars-example-two .rating-group {
  display: inline-flex;
}

#full-stars-example-two .rating__icon {
  pointer-events: none;
}

#full-stars-example-two .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#full-stars-example-two .rating__input--none {
  display: none;
}

#full-stars-example-two .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 1.6rem;
}

#full-stars-example-two .rating__icon--star {
  color: #ffb91d;
}

#full-stars-example-two .rating__input:checked~.rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
  color: #ffb91d;
}

#full-stars-example-two .rating__input:hover~.rating__label .rating__icon--star {
  color: #ddd;
}
/*---------------------------------*/