/*Small tablet to big tablet from 0px to 319px */
@media only screen and (max-width:320px){
    header a{
        padding-top: 8%;
    }
    textarea{
        width: 250px;
        height: 100px;
        margin-left: -17px;
    }
    .wrapper .file-upload{
        height: 40px;
        width: 40px;
        font-size: 22px;
    }
    input[type=submit]{
        border-radius: 6px;
        width: 100%;
        padding: 8px;
        font-size: 70%;
    }
    .rating-section h3{
        font-size: 110%;
    }
    header a{
        font-size: 94%;
        font-weight: 300;
    }
    .heading-primary__sub{
        font-size: 22%;
    }
    .footer-section p{
        font-size: 40%;
    }
    .footer-section h3{
        font-size: 50%;
    }
    .socials a{
        font-size: 20%;
        margin-left: 1px;
    }
    .socials a i{
        font-size: 13px;
    }
    .socials li {
        margin: 0 12px
    }
}
/*Small tablet to big tablet from 320px to 479px */
@media only screen and (max-width:480px){
    header a{
        padding-top: 10%;
    }
    textarea{
        width: 370px;
        height: 110px;
        margin-left: 2px;
    }
    .wrapper .file-upload{
        height: 40px;
        width: 40px;
        font-size: 22px;
    }
    input[type=submit]{
        border-radius: 6px;
        width: 100%;
        padding: 8px;
        font-size: 70%;
    }
    .rating-section h3{
        font-size: 110%;
    }
    header a{
        font-size: 97%;
        font-weight: 300;
    }
    .heading-primary__sub{
        font-size: 22%;
    }
    .footer-section p{
        font-size: 40%;
    }
    .footer-section h3{
        font-size: 50%;
    }
    .socials a{
        font-size: 25%;
        margin-left: 15px;
    }
    .socials a i{
        font-size: 16px;
    }
    .socials li {
        margin: 0 16px;
    }
}
/*Small tablet to big tablet from 481px to 768px */
@media only screen and (max-width:768px){
    header a{
        padding-top: 13%;
    }
    textarea{
        width:600px;
        height: 150px;
        margin-left: 2px;
    }
    .wrapper .file-upload{
        height: 50px;
        width: 50px;
        font-size: 30px;
    }
    input[type=submit]{
        border-radius: 7px;
        width: 120%;
        padding: 9px;
        font-size: 90%;
    }
    .rating-section h3{
        font-size: 140%;
    }
    header a{
        font-size: 160%;
        font-weight: 300;
    }
    .heading-primary__sub{
        font-size: 30%;
    }
    .footer-section p{
        font-size: 50%;
    }
    .footer-section h3{
        font-size: 60%;
    }
    .socials a{
        font-size: 24%;
        margin-left: 18px;
    }
    .socials a i{
        font-size: 18px;
    }
    .socials li {
        margin: 0 22px;
    }
}
