

/*Small tablet to big tablet from 320px to 479px */
@media only screen and (max-width:479px){
    header a{
        padding-top: 10%;
    }
    textarea{
        width: 270px;
        height: 120px;
        margin-left: -20px;
    }
    .wrapper .file-upload{
        height: 40px;
        width: 40px;
        font-size: 22px;
    }
    input[type=submit]{
        border-radius: 6px;
        width: 100%;
        padding: 8px;
        font-size: 70%;
    }
    .rating-section h3{
        font-size: 110%;
    }
    header a{
        font-size: 97%;
        font-weight: 300;
    }
    .heading-primary__sub{
        font-size: 22%;
    }
    .footer-section p{
        font-size: 40%;
    }
    .footer-section h3{
        font-size: 50%;
    }
    .socials a{
        font-size: 20%;
        margin-left: 15px;
    }
    .socials a i{
        font-size: 18px;
    }
}
