
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

section {
    padding: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #5a5a5a;
    font-size: 20%;
    text-rendering: optimizeLegibility; 
    font-family: 'Quicksand', sans-serif;
}

body{
    overflow-x: hidden;
}

section.Share_bg {
    background-color: #6a7a61;
    background: url("../../../assets/img/background4.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.first {
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary_main {
    display: block;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    color: #585e50;
    width: -1rem;
    height: 2rem;
    font-weight: 800;
    font-size: 480%;
    top: 105rem;
    margin-left: -8rem;
        
}

.note {
    display: block;
    position: absolute;
    color: #585e50;
    font-weight: 400;
    font-size: 305%;
    font-family: 'Quicksand', sans-serif;
    top: 112rem;
    letter-spacing: .02rem;
    margin-top: 4rem;
    margin-left: -8rem;
}

hr {
    width: 170px;
    margin-left: 0px;
    margin-top: 15px;
    color: #585e50;
}
/* ------------------------------------ */

 .contact {
    display: block;
    position: absolute;
    color: #585e50;
    width: 300rem;
    font-weight: 0;
    font-size: 420%;
    font-family: 'Quicksand', sans-serif;
    top: 95rem;
    letter-spacing: .01rem;
    margin-top: 260px;
    margin-left: 45rem;
}

.form1 {
    position: absolute;
    list-style: none;
    margin-top: 195rem;
}

input[type=text] {
    text-align: center;
    color: #585e50;
    background-color: #b5b6a8;
    font-weight: 500;
    font-size: 500%;
    padding: 3rem 3rem;
    border: 0rem;
    margin-left: 70%;
    font-family: 'Quicksand', sans-serif;
    border-radius: 15rem;
    
}

input[type=submit] {
    width: 27%;
    color: #585e50;
    background-color: #b5b6a8;
    text-align: center;
    font-weight: 600;
    font-size: 500%;
    padding: 6rem 5rem;
    border: none;
    margin-left: 185%;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    list-style: none;
    margin-top: -11.5rem;
    border-radius: 5rem;
}



@media only screen and (max-width:1920px){
 .heading-primary_main {
    height: 7rem;
    font-weight: 900;
    font-size: 750%;
    top: 118rem;
    margin-left: 100rem;
 }
 .note {
    font-size: 460%;
    top: 112rem;
    letter-spacing: .02rem;
    margin-top: 20rem;
    margin-left: 100rem;
 }
 .contact {
    width: 340rem;
    font-weight:18rem;
    font-size: 480%;
    top: 95rem;
    letter-spacing: .04rem;
    margin-top: 100rem;
    margin-left: 87rem;
 }
}
input[type=text] {
    font-weight: 600;
    font-size: 700%;
    padding: 5rem 4rem;
    border: 0rem;
    margin-left: 102%;
    border-radius: 8rem;
     margin-top: 25%;
}
input[type=submit] {
    width: 30%;
    font-weight: 600;
    font-size: 750%;
    padding: 8rem 5rem;
    margin-left: 205%;
    margin-top: -16rem;
    border-radius: 10rem;
}
@media only screen and (max-width:1688px) {
    .heading-primary_main {
        height: 7rem;
        font-weight: 900;
        font-size: 700%;
        top: 116rem;
        margin-left: 90rem;
     }
     .note {
        font-size: 430%;
        top: 111rem;
        letter-spacing: .02rem;
        margin-top: 20rem;
        margin-left: 90rem;
     }
     .contact {
        width: 320rem;
        font-weight:15rem;
        font-size: 450%;
        top: 95rem;
        letter-spacing: .04rem;
        margin-top: 100rem;
        margin-left: 70rem;
     }
    }
    input[type=text] {
        font-weight: 550;
        font-size: 650%;
        padding: 4.5rem 4rem;
        border: 0rem;
        margin-left: 90%;
        border-radius: 9rem;
         margin-top: 25%;
    }
    input[type=submit] {
        width: 30%;
        font-weight: 590;
        font-size: 730%;
        padding: 8rem 5rem;
        margin-left: 195%;
        margin-top: -16rem;
        border-radius: 10rem;
    }
@media only screen and (max-width:1440px) {
    .heading-primary_main {
        height: 7rem;
        font-weight: 900;
        font-size: 670%;
        top: 116rem;
        margin-left: 50rem;
     }
     .note {
        font-size: 420%;
        top: 110rem;
        letter-spacing: .02rem;
        margin-top: 20rem;
        margin-left: 50rem;
     }
     .contact {
        width: 320rem;
        font-weight:15rem;
        font-size: 450%;
        top: 95rem;
        letter-spacing: .04rem;
        margin-top: 97rem;
        margin-left: 32rem;
     }
    }
    input[type=text] {
        font-weight: 520;
        font-size: 620%;
        padding: 4.5rem 4rem;
        border: 0rem;
        margin-left: 40%;
        border-radius: 9rem;
         margin-top: 25%;
    }
    input[type=submit] {
        width: 28%;
        font-weight: 550;
        font-size: 710%;
        padding: 7.5rem 5rem;
        margin-left: 145%;
        margin-top: -15rem;
        border-radius: 10rem;
}
@media only screen and (max-width:1366px){
    .heading-primary_main {
        height: 6rem;
        font-weight: 770;
        font-size: 600%;
        top: 100rem;
        margin-left: 65rem;
     }
     .note {
        font-size: 377%;
        top: 100rem;
        letter-spacing: .02rem;
        margin-top: 12rem;
        margin-left: 65rem;
     }
     .contact {
        width: 290rem;
        font-weight:15rem;
        font-size: 400%;
        top: 95rem;
        letter-spacing: .04rem;
        margin-top: 68rem;
        margin-left: 46rem;
     }
    }
    input[type=text] {
        font-weight: 500;
        font-size: 600%;
        padding: 3rem 3rem;
        border: 2rem;
        margin-left: 60%;
        border-radius: 7rem;
        margin-top: -20rem;
    }
    input[type=submit] {
        width: 26%;
        font-weight: 520;
        font-size: 650%;
        padding: 6rem 4.5rem;
        margin-left: 165%;
        margin-top: -20rem;
        border-radius: 8rem;
}
/*
@media only screen and (max-width:1288px){
    .heading-primary_main {
        height: 6rem;
        font-weight: 700;
        font-size: 590%;
        top: 110rem;
        margin-left: 50rem;
     }
     .note {
        font-size: 377%;
        top: 100rem;
        letter-spacing: .02rem;
        margin-top: 12rem;
        margin-left: 65rem;
     }
     .contact {
        width: 290rem;
        font-weight:15rem;
        font-size: 400%;
        top: 95rem;
        letter-spacing: .04rem;
        margin-top: 68rem;
        margin-left: 46rem;
     }
    }
    input[type=text] {
        font-weight: 500;
        font-size: 600%;
        padding: 3rem 3rem;
        border: 2rem;
        margin-left: 60%;
        border-radius: 7rem;
        margin-top: -20rem;
    }
    input[type=submit] {
        width: 26%;
        font-weight: 520;
        font-size: 650%;
        padding: 6rem 4.5rem;
        margin-left: 165%;
        margin-top: -20rem;
        border-radius: 8rem;
}
@media only screen and (max-width:768px){

} 
*/
