/*
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

section {
    padding: 3rem;
}
/* ------------------------------------ */
/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #5a5a5a;
    font-size: 20px;
    text-rendering: optimizeLegibility; 
    font-family: 'Quicksand', sans-serif;
}

body{
    overflow-x: hidden;
}
/* ------------------------------------ */

section.Share_bg {
    background-color: #6a7a61;
    background: url("../../../assets/img/background4.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.first {
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary_main {
    display: block;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    color: #585e50;
    width: 880px;
    height: 73px;
    font-weight: 800;
    font-size: 110%;
    top: 400px;
    margin-left: 130px;
}

.note {
    display: block;
    position: absolute;
    color: #585e50;
    font-weight: 500;
    font-size: 65%;
    font-family: 'Quicksand', sans-serif;
    top: 322px;
    letter-spacing: .02rem;
    margin-top: 120px;
    margin-left: 170px;
}

hr {
    width: 170px;
    margin-left: 0px;
    margin-top: 15px;
    color: #585e50;
}
/* ------------------------------------ */

 .contact {
    display: block;
    position: absolute;
    color: #585e50;
    font-weight: 500;
    font-size: 70%;
    font-family: 'Quicksand', sans-serif;
    top: 330px;
    letter-spacing: .02rem;
    margin-top: 260px;
    margin-left: 115px;
}

.form1 {
    position: absolute;
    list-style: none;
    margin-top: 665px;
}

input[type=text] {
    text-align: center;
    color: #585e50;
    background-color: #b5b6a8;
    font-weight: 500;
    font-size: 90%;
    padding: 10px 15px;
    border: 0px;
    margin-left: 60%;
    font-family: 'Quicksand', sans-serif;
    border-radius: 15px;
}

input[type=submit].form1 {
    width: 5%;
    color: #585e50;
    background-color: #b5b6a8;
    font-weight: 600;
    font-size: 90%;
    padding: 10px 0px;
    text-align: center;
    border: none;
    margin-left: 25%;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    list-style: none;
    margin-top: 665px;
    border-radius: 25px;
}

/*----------------------------------------- */
/*
@media only screen and (max-width:1920px){

}
@media only screen and (max-width:1688px) {

}
@media only screen and (max-width:1440px) {

}
@media only screen and (max-width:1366px){

}
@media only screen and (max-width:1288px){

}
@media only screen and (max-width:768px){

} 
/*--------------------------------------*/