section {
    background-color: #6a7a61;
    background: url("../img/background4.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-size: .6rem;
    line-height: 1.1rem;
    font-family: 'Quicksand', sans-serif;
}

.page3 {
    position: absolute;
    top: 80.6%;
    left: 43%;
    transform: translate(-50%, -50%);
    width: 61%;
}

li {
    list-style: none;
}

.heading-primary__main {
    font-size: 1.5rem;
}

.note {
    font-size: .9rem;
}

h1 {
    font-weight: 400;
}

hr {
    width: 200px;
    margin: .4rem 0px;
    color: #585e50;
}

input[type=text] {
    text-align: center;
    color: #585e50;
    background-color: #b5b6a8;
    font-weight: 500;
    padding: 10px 12px;
    border: 0px;
    border-radius: 15px;
    margin-top: .3rem;
}

input[type=submit] {
    color: #585e50;
    background-color: #b5b6a8;
    font-weight: 600;
    padding: 22px 15px;
    text-align: center;
    border: none;
    margin-left: 25%;
    position: absolute;
    list-style: none;
    border-radius: 20px;
    margin-top: -3.4rem;
    margin-left: 10.5rem;
}