@media only screen and (max-width:1920px) {
    .heading-primary__main {
        width: 900px;
        height: 80px;
        font-weight: 450;
        font-size: 120%;
        top: 60px;
    }
    .heading-primary__sub {
        font-size: 83%;
        top: 20px;
    }
    .second {
        width: 925px;
        height: 300px;
        top: 52%;
    }
    .question {
        font-weight: 450;
        font-size: 150%;
    }
    .note {
        font-size: 82%;
        font-weight: 300;
        top: -41px;
    }
    .second ul li {
        width: 210px;
        height: 83px;
        font-size: 200%;
        margin-top: 2px;
    }
}

@media only screen and (max-width:1688px) {
    .heading-primary__main {
        width: 862px;
        height: 73px;
        font-weight: 400;
        font-size: 108%;
        top: 50px;
    }
    .heading-primary__sub {
        font-size: 75%;
        top: 15px;
    }
    .second {
        width: 865px;
        height: 255px;
        top: 55%;
    }
    .question {
        font-weight: 400;
        font-size: 140%;
    }
    .note {
        font-size: 73%;
        font-weight: 300;
        top: -45px;
    }
    .second ul li {
        width: 170px;
        height: 75px;
        font-size: 180%;
    }
}

@media only screen and (max-width:1440px) {
    .heading-primary__main {
        width: 840px;
        height: 69px;
        font-weight: 380;
        font-size: 100%;
        top: 45px;
    }
    .heading-primary__sub {
        font-size: 65%;
        top: 11px;
    }
    .second {
        width: 800px;
        height: 235px;
        top: 50%;
    }
    .question {
        font-weight: 385;
        font-size: 130%;
    }
    .note {
        font-size: 70%;
        font-weight: 270;
        top: -45px;
    }
    .second ul li {
        width: 150px;
        height: 70px;
        font-size: 170%;
        margin-top:-10px;
    }
}

@media only screen and (max-width:1366px) {
    .heading-primary__main {
        width: 835px;
        height: 65px;
        font-weight: 375;
        font-size: 98%;
        top: 40px;
    }
    .heading-primary__sub {
        font-size: 67%;
        top: 10px;
    }
    .second {
        width: 780px;
        height: 225px;
        top: 60%;
    }
    .question {
        font-weight: 360;
        font-size: 115%;
    }
    .note {
        font-size: 50%;
        font-weight: 260;
        top: -45px;
    }
    .second ul li {
        width: 140px;
        height: 60px;
        font-size: 165%;
        margin-top:-5px;
    }
}

@media only screen and (max-width:1280px) {
    .heading-primary__main {
        width: 830px;
        height: 70px;
        font-weight: 380;
        font-size: 107%;
        top: 47px;
    }
    .heading-primary__sub {
        font-size: 73%;
        top: 15px;
    }
    .second {
        width: 858px;
        height: 245px;
        top: 58%;
    }
    .question {
        font-weight: 355;
        font-size: 125%;
    }
    .note {
        font-size: 70%;
        font-weight: 270;
        top: -45px;
    }
    .second ul li {
        width: 170px;
        height: 73px;
        font-size: 176%;
        margin-top: -2px;
    }
}

@media only screen and (max-width:1024px){
    .heading-primary__main {
        width: 710px;
        height: 55px;
        font-weight: 350;
        font-size: 95%;
        top: 47px;
    }
    .heading-primary__sub {
        font-size: 65%;
        top: 22px;
    }
    .second {
        width: 750px;
        height: 225px;
        top: 56%;
    }
    .question {
        font-weight: 300;
        font-size: 115%;
    }
    .note {
        font-size: 62%;
        font-weight: 250;
        top: -45px;
    }
    .second ul li {
        width: 140px;
        height: 68px;
        font-size: 169%;
        margin-top: -10px;
    }
}

@media only screen and (max-width:768px) {
    .heading-primary__main {
        width: 650px;
        height: 45px;
        font-weight: 320;
        font-size: 85%;
        top: 47px;
    }
    .heading-primary__sub {
        font-size: 58%;
        top: 30px;
    }
    .second {
        width: 650px;
        height: 200px;
        top: 55%;
    }
    .question {
        font-weight: 280;
        font-size: 107%;
    }
    .note {
        font-size: 60%;
        font-weight: 240;
        top: -45px;
    }
    .second ul li {
        width: 150px;
        height: 63px;
        font-size: 146%;
        margin-top:-5px;
    }
}