@media only screen and (max-width:1920px) {
    .text-box{
        font-size: 310%;
    }
    .note {
        height: 170px;
        padding: 35px;
        margin-left: 35%;
        width: 270px;
    }
    textarea {
        margin-top: 30px;
        font-size: 90%;
    }
}
@media only screen and (max-width:1688px){
    .text-box{
        font-size: 295%;
    }
    .note {
        height: 165px;
        padding: 30px;
        margin-left: 15%;
        width: 270px;
    }
    textarea {
        margin-top: 35px;
        font-size: 85%;
    }
}
@media only screen and (max-width:1440px){
    .text-box{
        font-size: 270%;
    }
    .note {
        height: 160px;
        padding: 30px;
        margin-left: 7%;
        width: 250px;
    }
    textarea {
        margin-top: 20px;
        font-size: 80%;
}
}
@media only screen and (max-width:1366px){
    .text-box{
        font-size: 255%;
    }
    .note {
        height: 140px;
        padding: 20px;
        margin-left: 7%;
        width: 240px;
    }
    textarea {
        margin-top: 15px;
        font-size: 72%;
}

}
@media only screen and (max-width:1280px){
    .text-box{
        font-size: 240%;
    }
    .note {
        height: 120px;
        padding: 17px;
        margin-left: 10%;
        width: 230px;
    }
    textarea {
        margin-top: 12px;
        font-size: 71%;
  
}
}
@media only screen and (max-width:1024px){
    .text-box{
        font-size: 225%;
    }
    .note {
        height: 120px;
        padding: 17px;
        margin-left: 10%;
        width: 220px;
    }
    textarea {
        margin-top: 10px;
        font-size: 69%;
}
@media only screen and (max-width:768px){
    .text-box{
        font-size: 210%;
    }
    .heading-primary__sub {
        font-size: 47%;
    }
    .note {
        height: 95px;
        padding: 14px;
        margin-left: 10%;
        width: 180px;
    }
    textarea {
        margin-top: 4px;
        font-size: 60%;
    }
  
}
@media only screen and (max-width:480px){
    .text-box{
        font-size: 150%;
    }
    .heading-primary__sub {
        font-size: 32%;
    }
    .testimoials{
        top: 60px;
        left: 1%;
    }
    .col {
        height: 70px;
        margin-bottom: -32px;
    }
    blockquote {
        font-size: 30%;
        padding: 5px 20px;
    }
  
}
@media only screen and (max-width:320px){
    .text-box{
        font-size: 100%;
    }
    .heading-primary__sub {
        font-size: 29%;
    }
    .testimoials{
        top: 70px;
        left: 1%;
    }
    .col {
        height: 50px;
        margin-bottom: -20px;
    }
    blockquote {
        font-size: 20%;
        padding: 3px 13px;
    }
}