/*@media only screen and (max-width:1920px) {
    .text-box{
        font-size: 310%;
    }
    .testimoials{
        top: 4px;
        left: 10%;
}
}
@media only screen and (max-width:1688px){
    .text-box{
        font-size: 295%;
    }
    .testimoials{
        top: 1px;
        left: 7%;  
}
}
@media only screen and (max-width:1440px){
    .text-box{
        font-size: 270%;
    }
    .testimoials{
        top: -1px;
        left: 5%;
}
}
@media only screen and (max-width:1366px){
    .text-box{
        font-size: 255%;
    }
    .testimoials{
        top: -3px;
        left: 2%;
}
}
@media only screen and (max-width:1280px){
    .text-box{
        font-size: 240%;
    }
    .testimoials{
        top: -5px;
        left: 1%;
}
}
@media only screen and (max-width:1024px){
    .text-box{
        font-size: 225%;
    }
    .testimoials{
        top: -7px;
        left: 1%;
    }
    .col {
        height: 110px;
        margin-bottom: -70px;
    }
    blockquote {
        font-size: 55%;
    }
}
@media only screen and (max-width:768px){
    .text-box{
        font-size: 210%;
    }
    .heading-primary__sub {
        font-size: 47%;
    }
    .testimoials{
        top: 50px;
        left: 1%;
    }
    .col {
        height: 110px;
        margin-bottom: -40px;
    }
    blockquote {
        font-size: 40%;
        padding: 6px 30px;
        
    }
  
}
@media only screen and (max-width:480px){
    .text-box{
        font-size: 150%;
    }
    .heading-primary__sub {
        font-size: 32%;
    }
    .testimoials{
        top: 60px;
        left: 1%;
    }
    .col {
        height: 70px;
        margin-bottom: -32px;
    }
    blockquote {
        font-size: 30%;
        padding: 5px 20px;
    }
  
}
@media only screen and (max-width:320px){
    .text-box{
        font-size: 100%;
    }
    .heading-primary__sub {
        font-size: 29%;
    }
    .testimoials{
        top: 70px;
        left: 1%;
    }
    .col {
        height: 50px;
        margin-bottom: -20px;
    }
    blockquote {
        font-size: 20%;
        padding: 3px 13px;
    }
  
}
*/





