section {
    background-color: #6a7a61;
    background: url("../img/background5.png");
    background-size: cover;
    background-position: center;
    height: 138vh;
}

.text-box {
    position: absolute;
    background-color: #6a7d5f;
    font-family: 'Dancing Script', cursive;
    font-size: 255%;
    text-align: center;
    width: 50%;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    margin-bottom: 10px;
}

.heading-primary__sub {
    font-size: 55%;
}

textarea {
    margin-top: 10px;
    resize: none;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(255 255 255 / 50%);
    padding: 1% 1%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 75%;
    border: 0px solid #ccc;
    transition: 0.5s;
    outline: none;
    color: #2d332b;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -ms-overflow-style: none;
    /* khai báo sử dụng Internet Explorer, Edge */
    scrollbar-width: none;
    /* sử dụng Firefox */
    overflow-y: scroll;
}

textarea::-webkit-scrollbar {
    display: none;
    /* cho Chrome, Safari, and Opera */
}

.testimoials {
    position: absolute;
    color: black;
    top: -3px;
    left: 2%;
}

.row {
    padding: 0 20px;
    max-width: 1540px;
    margin: 0 auto;
    margin-left: 7%;
    margin-top: -.5rem;
}

.col {
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 150px;
    margin-top: 10%;
    margin: 10% 2.3%;
    width: 28%;
    margin-bottom: -85px;
}

blockquote {
    width: 95%;
    position: relative;
    line-height: 140%;
    margin-top: 10px;
    font-size: 85%;
    font-weight: 600;
    padding: 7px 40px;
    padding-right: 10px;
}

cite {
    display: block;
    margin-top: 2px;
    font-weight: 500;
    font-style: normal;
    font-size: 80%;
    line-height: 130%;
}

.col:hover {
    transform: scale(1.2);
    background-color: #6a7d5f;
    box-shadow: 3px 5px 4px rgba(0, 0, 1, 0.2);
    color: #242b1e;
}

#board {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    padding-top: 40px;
    padding: 24px;
    gap: 30px;
    column-gap: 120px
}

.note {
    height: 155px;
    box-sizing: border-box;
    padding: 28px;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    width: 230px;
}


/* #full-stars-example-two .rating-group {
    display: inline-flex;
}

#full-stars-example-two .rating__icon {
    pointer-events: none;
}

#full-stars-example-two .rating__input {
    position: absolute !important;
    left: -9999px !important;
}

#full-stars-example-two .rating__input--none {
    display: none;
}

#full-stars-example-two .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 1.6rem;
}

#full-stars-example-two .rating__icon--star {
    color: #ffb91d;
}

#full-stars-example-two .rating__input:checked~.rating__label .rating__icon--star {
    color: #ddd;
}

#full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
    color: #ffb91d;
}

#full-stars-example-two .rating__input:hover~.rating__label .rating__icon--star {
    color: #ddd;
}
*/