section {
    background-color: #6a7a61;
    background: url("../img/background55.png");
    background-size: cover;
    background-position: center;
    height: 139vh;
}

.text-box {
    position: absolute;
    background-color: #6a7d5f;
    font-family: 'Dancing Script', cursive;
    font-size: 255%;
    text-align: center;
    width: 50%;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    margin-bottom: 10px;
}

.heading-primary__sub {
    font-size: 55%;
}

textarea {
    margin-top: 10px;
    resize: none;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(255 255 255 / 50%);
    padding: 1% 1%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 75%;
    border: 0px solid #ccc;
    transition: 0.5s;
    outline: none;
    color: #2d332b;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -ms-overflow-style: none;
    /* khai báo sử dụng Internet Explorer, Edge */
    scrollbar-width: none;
    /* sử dụng Firefox */
    overflow-y: scroll;
    cursor: default;
}

textarea::-webkit-scrollbar {
    display: none;
    /* cho Chrome, Safari, and Opera */
}

textarea:hover {
    transform: scale(1.17);
    background-color: #6a7d5f;
    box-shadow: 3px 5px 4px rgba(0, 0, 1, 0.2);
    color: #242b1e;
}

#board {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    padding-top: 40px;
    padding: 24px;
    column-gap: 120px;
}

.note {
    height: 155px;
    box-sizing: border-box;
    padding: 28px;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    width: 230px;
}